:root{
  font-family: "Saira", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  --missingColour: #FF0FF0;
  --missingBackground: #00F00F;
  font-size: 16px;
}

body {
  --mainBackgroundColour: #254E70;
  --mainTextColour: #8EE3EF;
  --secondaryBackgroundColour: #AEF3E7;
  --secondaryTextColour: #37718E;
  --contrast: #C33C54;
  margin: 0;
}

embed{
  width: 100vw;
  height: clamp(65px, 7.5dvh, 100px);
  position: fixed;
  z-index: 999;
}

.spacer {
  height: clamp(65px, 7.5dvh, 100px);
  background-color: var(--mainBackgroundColour, #00F00F);
}

.contentBody {
  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pageTitle"
    "introduction"
    "education"
    "careerPath";
}

.pageTitle {
  justify-self: center;
  grid-area: pageTitle;
  width: 100%;
  height: max-content;
  color: var(--mainTextColour, #FF0FF0);
  background-color: var(--mainBackgroundColour, #00F00F);
}

.title {
  position: relative;
  font-size: 4rem;
  left: calc(25vw - 0.5rem);
  width: max-content;
  margin: 1.25rem 0;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "selfPhoto introName"
  "selfPhoto introStatus";
  justify-self: center;
  grid-area: introduction;
  width: 100%;
  background-color: var(--secondaryBackgroundColour);
}

.selfPhoto {
  justify-self: end;
  display: flex;
  justify-content: end;
  grid-area: selfPhoto;
  max-width: 43.75vw;
  height: max-content;
  margin: 5vh;
}

.selfie {
  max-width: 43.75vw;
  height: 35rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 5rem;
}

.introName {
  justify-self: start;
  display: flex;
  align-content: end;
  grid-area: introName;
  width: 87.5%;
  color: var(--secondaryTextColour);
  font-size: 3rem;
}

.introStatus {
  justify-self: start;
  align-self: start;
  grid-area: introStatus;
  width: 87.5%;
  color: var(--secondaryTextColour);
  font-size: 1.5rem;
}

.education {
  justify-self: center;
  grid-area: education;
  width: 100%;
  background-color: var(--mainBackgroundColour);
}

.educationTitle {
  color: var(--mainTextColour);
  position: relative;
  width: max-content;
  left: 18.75%;
  font-size: 6rem;
}

.educationBackground {
  color: var(--mainTextColour);
  position: relative;
  width: 87.5%;
  left: 6.25%;
  text-indent: 6.25%;
  font-size: 3rem;
  word-wrap: break-word;
}

.careerPath {  
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "careerChoices careerTitle"
    "careerChoices Button";
  justify-self: center;
  grid-area: careerPath;
  width: 100%;
  background-color: var(--secondaryBackgroundColour);
}

.careerChoices {
  justify-self: end;
  grid-area: careerChoices;
  width: 30vw;
  font-size: 2rem;
  margin-right: 5vw;
}

.careerTitle {
  justify-self: start;
  grid-area: careerTitle;
  font-size: 3rem;
}

.Button {
  position: relative;
  justify-self: start;
  grid-area: Button;
  width: max-content;
  height: max-content;
  left: 10px;
}

.Button a {
  padding: 1rem 3rem;
  background: linear-gradient(to right, #254E70, #37718E);
  border-radius: 5px;
  z-index: 0;
  cursor: pointer;
  color: var(--secondaryBackgroundColour);
  transition: border-radius 250ms ease-in-out, font-size 400ms ease-in-out;
  text-decoration: none;
}

.Button a:hover {
  border-radius: 15px;
  font-size: 125%;
}

footer {
  background-color: var(--mainBackgroundColour);
  height: 40vh;
}

footer a {
  text-decoration: none;
  color: var(--mainTextColour);
}

footer h1 {
  font-size: 8vw;
  color: var(--mainTextColour);
}