:root{
  font-family: "Saira", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  --missingColour: #FF0FF0;
  --missingBackground: #00F00F;
}

body {
  margin: 0;
  --mainBackgroundColour: #254E70;
  --mainTextColour: #8EE3EF;
  --contrast: #C33C54;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". navbarLinks";
  width: 100%;
  height: 100%;
  background-color: var(--mainBackgroundColour);
}

.navbarLinks {
  justify-self: right;
  font-size: 35vh;
  padding: 20vh 1vw;
}

.navbarLinks a {
  color: var(--mainTextColour);
  text-decoration: none;
  margin: 0 0.5vw;
  transition: font-size 350ms ease-in-out;
}

.navbarLinks a:hover {
  font-size: 37.5vh;
}

.navbarImage {
  height: 75vh;
  padding: 12.5vh 2vw;
}